name: tests

on:
  push:
    branches:
      - develop
      - main
      - master
      - workos
  pull_request:
    branches:
      - develop
      - main
      - master
      - workos

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.4', '8.5']

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2
          coverage: xdebug

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Copy Environment File
        run: |
          cp .env.example .env
          sed -i 's/CACHE_STORE=database/CACHE_STORE=file/' .env
          sed -i 's/SESSION_DRIVER=database/SESSION_DRIVER=file/' .env
          sed -i 's/QUEUE_CONNECTION=database/QUEUE_CONNECTION=sync/' .env

      - name: Create SQLite Database
        run: touch database/database.sqlite

      - name: Install Node Dependencies
        run: npm i

      - name: Install Dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Generate Application Key
        run: php artisan key:generate

      - name: Run Migrations
        run: php artisan migrate --no-interaction

      - name: Build Assets
        run: npm run build

      - name: Tests
        run: ./vendor/bin/pest
